/* Write your CSS here */

.input-text-Button {
  display: flex;
  flex-direction: column;
}

.Main-section {
  display: flex;
  flex-direction: row;
}

.Bg-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

button {
  background-color: #0284c7;
  color: #ffffff;
  border-width: 0px;
  padding: 5px;
  border-radius: 5px;
}

.break-line {
  height: 2px;
}
